--[dbo].[lcc_aggr_sp_MDD_Data_Youtube_HD]
--[dbo].[lcc_aggr_sp_MDD_Data_Youtube_HD_3G]
--[dbo].[lcc_aggr_sp_MDD_Data_Youtube_HD_4G]
--[dbo].[lcc_aggr_sp_MDD_Data_Youtube_HD_CA]
--[dbo].[lcc_aggr_sp_MDD_Data_Youtube_HD_CA_ONLY]

BEGIN TRANSACTION
update [AGGRData4G].[dbo].lcc_aggr_sp_MDD_Data_Youtube_HD_CA_ONLY
SET [ReproduccionesHD] = 0
 , [avg video resolution] = NULL
 , [video mos] = 0
 , [B4] = 0
 , [Count_Video_Resolucion] = 0
 , [Count_Video_MOS] = 0
 , [Youtube_Version] = NULL
 , [1st Resolution] = NULL
 , [Count 1st Resolution] = 0
 , [2nd Resolution] = NULL
 , [Count 2nd Resolution] = 0
 , [FirstChangeFromInit] = NULL
 , [Count FirstChangeFromInit] = 0
 , [initialResolution] = NULL
 , [Count initialResolution] = 0
 , [finalResolution] = NULL
 , [Count finalResolution] = 0
 , [144p-VideoDuration] = NULL
 , [Count 144p-VideoDuration] = 0
 , [144p-VideoMOS] = NULL
 , [Count 144p-VideoMOS] = 0
 , [% 144p] = NULL
 , [Count % 144p] = 0
 , [240p-VideoDuration] = NULL
 , [Count 240p-VideoDuration] = 0
 , [240p-VideoMOS] = NULL
 , [Count 240p-VideoMOS] = 0
 , [% 240p] = NULL
 , [Count % 240p] = 0
 , [360p-VideoDuration] = NULL
 , [Count 360p-VideoDuration] = 0
 , [360p-VideoMOS] = NULL
 , [Count 360p-VideoMOS] = 0
 , [% 360p] = NULL
 , [Count % 360p] = 0
 , [480p-VideoDuration] = NULL
 , [Count 480p-VideoDuration] = 0
 , [480p-VideoMOS] = NULL
 , [Count 480p-VideoMOS] = 0
 , [% 480p] = NULL
 , [Count % 480p] = 0
 , [720p-VideoDuration] = NULL
 , [Count 720p-VideoDuration] = 0
 , [720p-VideoMOS] = NULL
 , [Count 720p-VideoMOS] = 0
 , [% 720p] = NULL
 , [Count % 720p] = 0
 , [1080p-VideoDuration] = NULL
 , [Count 1080p-VideoDuration] = 0
 , [1080p-VideoMOS] = NULL
 , [Count 1080p-VideoMOS] = 0
 , [% 1080p] = NULL
 , [Count % 1080p] = 0
 , [ReproduccionesHD_Video1] = 0
 , [Count_Video_Resolucion_Video1] = NULL
 , [Count_Video_MOS_Video1] = 0
 , [avg video resolution_Video1] = 0
 , [B4_Video1] = 0
 , [video mos_Video1] = 0
 , [1st Resolution_Video1] = NULL
 , [Count 1st Resolution_Video1] = 0
 , [2nd Resolution_Video1] = NULL
 , [Count 2nd Resolution_Video1] = 0
 , [FirstChangeFromInit_Video1] = NULL
 , [Count FirstChangeFromInit_Video1] = 0
 , [initialResolution_Video1] = NULL
 , [Count initialResolution_Video1] = 0
 , [finalResolution_Video1] = NULL
 , [Count finalResolution_Video1] = 0
 , [144p-VideoDuration_Video1] = NULL
 , [Count 144p-VideoDuration_Video1] = 0
 , [144p-VideoMOS_Video1] = NULL
 , [Count 144p-VideoMOS_Video1] = 0
 , [% 144p_Video1] = NULL
 , [Count % 144p_Video1] = 0
 , [240p-VideoDuration_Video1] = NULL
 , [Count 240p-VideoDuration_Video1] = 0
 , [240p-VideoMOS_Video1] = NULL
 , [Count 240p-VideoMOS_Video1] = 0
 , [% 240p_Video1] = NULL
 , [Count % 240p_Video1] = 0
 , [360p-VideoDuration_Video1] = NULL
 , [Count 360p-VideoDuration_Video1] = 0
 , [360p-VideoMOS_Video1] = NULL
 , [Count 360p-VideoMOS_Video1] = 0
 , [% 360p_Video1] = NULL
 , [Count % 360p_Video1] = 0
 , [480p-VideoDuration_Video1] = NULL
 , [Count 480p-VideoDuration_Video1] = 0
 , [480p-VideoMOS_Video1] = NULL
 , [Count 480p-VideoMOS_Video1] = 0
 , [% 480p_Video1] = NULL
 , [Count % 480p_Video1] = 0
 , [720p-VideoDuration_Video1] = NULL
 , [Count 720p-VideoDuration_Video1] = 0
 , [720p-VideoMOS_Video1] = NULL
 , [Count 720p-VideoMOS_Video1] = 0
 , [% 720p_Video1] = NULL
 , [Count % 720p_Video1] = 0
 , [1080p-VideoDuration_Video1] = NULL
 , [Count 1080p-VideoDuration_Video1] = 0
 , [1080p-VideoMOS_Video1] = NULL
 , [Count 1080p-VideoMOS_Video1] = 0
 , [% 1080p_Video1] = NULL
 , [Count % 1080p_Video1] = 0
 , [ReproduccionesHD_Video2] = 0
 , [Count_Video_Resolucion_Video2] = NULL
 , [Count_Video_MOS_Video2] = 0
 , [avg video resolution_Video2] = 0
 , [B4_Video2] = 0
 , [video mos_Video2] = 0
 , [1st Resolution_Video2] = NULL
 , [Count 1st Resolution_Video2] = 0
 , [2nd Resolution_Video2] = NULL
 , [Count 2nd Resolution_Video2] = 0
 , [FirstChangeFromInit_Video2] = NULL
 , [Count FirstChangeFromInit_Video2] = 0
 , [initialResolution_Video2] = NULL
 , [Count initialResolution_Video2] = 0
 , [finalResolution_Video2] = NULL
 , [Count finalResolution_Video2] = 0
 , [144p-VideoDuration_Video2] = NULL
 , [Count 144p-VideoDuration_Video2] = 0
 , [144p-VideoMOS_Video2] = NULL
 , [Count 144p-VideoMOS_Video2] = 0
 , [% 144p_Video2] = NULL
 , [Count % 144p_Video2] = 0
 , [240p-VideoDuration_Video2] = NULL
 , [Count 240p-VideoDuration_Video2] = 0
 , [240p-VideoMOS_Video2] = NULL
 , [Count 240p-VideoMOS_Video2] = 0
 , [% 240p_Video2] = NULL
 , [Count % 240p_Video2] = 0
 , [360p-VideoDuration_Video2] = NULL
 , [Count 360p-VideoDuration_Video2] = 0
 , [360p-VideoMOS_Video2] = NULL
 , [Count 360p-VideoMOS_Video2] = 0
 , [% 360p_Video2] = NULL
 , [Count % 360p_Video2] = 0
 , [480p-VideoDuration_Video2] = NULL
 , [Count 480p-VideoDuration_Video2] = 0
 , [480p-VideoMOS_Video2] = NULL
 , [Count 480p-VideoMOS_Video2] = 0
 , [% 480p_Video2] = NULL
 , [Count % 480p_Video2] = 0
 , [720p-VideoDuration_Video2] = NULL
 , [Count 720p-VideoDuration_Video2] = 0
 , [720p-VideoMOS_Video2] = NULL
 , [Count 720p-VideoMOS_Video2] = 0
 , [% 720p_Video2] = NULL
 , [Count % 720p_Video2] = 0
 , [1080p-VideoDuration_Video2] = NULL
 , [Count 1080p-VideoDuration_Video2] = 0
 , [1080p-VideoMOS_Video2] = NULL
 , [Count 1080p-VideoMOS_Video2] = 0
 , [% 1080p_Video2] = NULL
 , [Count % 1080p_Video2] = 0
 , [ReproduccionesHD_Video3] = 0
 , [Count_Video_Resolucion_Video3] = NULL
 , [Count_Video_MOS_Video3] = 0
 , [avg video resolution_Video3] = 0
 , [B4_Video3] = 0
 , [video mos_Video3] = 0
 , [1st Resolution_Video3] = NULL
 , [Count 1st Resolution_Video3] = 0
 , [2nd Resolution_Video3] = NULL
 , [Count 2nd Resolution_Video3] = 0
 , [FirstChangeFromInit_Video3] = NULL
 , [Count FirstChangeFromInit_Video3] = 0
 , [initialResolution_Video3] = NULL
 , [Count initialResolution_Video3] = 0
 , [finalResolution_Video3] = NULL
 , [Count finalResolution_Video3] = 0
 , [144p-VideoDuration_Video3] = NULL
 , [Count 144p-VideoDuration_Video3] = 0
 , [144p-VideoMOS_Video3] = NULL
 , [Count 144p-VideoMOS_Video3] = 0
 , [% 144p_Video3] = NULL
 , [Count % 144p_Video3] = 0
 , [240p-VideoDuration_Video3] = NULL
 , [Count 240p-VideoDuration_Video3] = 0
 , [240p-VideoMOS_Video3] = NULL
 , [Count 240p-VideoMOS_Video3] = 0
 , [% 240p_Video3] = NULL
 , [Count % 240p_Video3] = 0
 , [360p-VideoDuration_Video3] = NULL
 , [Count 360p-VideoDuration_Video3] = 0
 , [360p-VideoMOS_Video3] = NULL
 , [Count 360p-VideoMOS_Video3] = 0
 , [% 360p_Video3] = NULL
 , [Count % 360p_Video3] = 0
 , [480p-VideoDuration_Video3] = NULL
 , [Count 480p-VideoDuration_Video3] = 0
 , [480p-VideoMOS_Video3] = NULL
 , [Count 480p-VideoMOS_Video3] = 0
 , [% 480p_Video3] = NULL
 , [Count % 480p_Video3] = 0
 , [720p-VideoDuration_Video3] = NULL
 , [Count 720p-VideoDuration_Video3] = 0
 , [720p-VideoMOS_Video3] = NULL
 , [Count 720p-VideoMOS_Video3] = 0
 , [% 720p_Video3] = NULL
 , [Count % 720p_Video3] = 0
 , [1080p-VideoDuration_Video3] = NULL
 , [Count 1080p-VideoDuration_Video3] = 0
 , [1080p-VideoMOS_Video3] = NULL
 , [Count 1080p-VideoMOS_Video3] = 0
 , [% 1080p_Video3] = NULL
 , [Count % 1080p_Video3] = 0
 , [ReproduccionesHD_Video4] = 0
 , [Count_Video_Resolucion_Video4] = NULL
 , [Count_Video_MOS_Video4] = 0
 , [avg video resolution_Video4] = 0
 , [B4_Video4] = 0
 , [video mos_Video4] = 0
 , [1st Resolution_Video4] = NULL
 , [Count 1st Resolution_Video4] = 0
 , [2nd Resolution_Video4] = NULL
 , [Count 2nd Resolution_Video4] = 0
 , [FirstChangeFromInit_Video4] = NULL
 , [Count FirstChangeFromInit_Video4] = 0
 , [initialResolution_Video4] = NULL
 , [Count initialResolution_Video4] = 0
 , [finalResolution_Video4] = NULL
 , [Count finalResolution_Video4] = 0
 , [144p-VideoDuration_Video4] = NULL
 , [Count 144p-VideoDuration_Video4] = 0
 , [144p-VideoMOS_Video4] = NULL
 , [Count 144p-VideoMOS_Video4] = 0
 , [% 144p_Video4] = NULL
 , [Count % 144p_Video4] = 0
 , [240p-VideoDuration_Video4] = NULL
 , [Count 240p-VideoDuration_Video4] = 0
 , [240p-VideoMOS_Video4] = NULL
 , [Count 240p-VideoMOS_Video4] = 0
 , [% 240p_Video4] = NULL
 , [Count % 240p_Video4] = 0
 , [360p-VideoDuration_Video4] = NULL
 , [Count 360p-VideoDuration_Video4] = 0
 , [360p-VideoMOS_Video4] = NULL
 , [Count 360p-VideoMOS_Video4] = 0
 , [% 360p_Video4] = NULL
 , [Count % 360p_Video4] = 0
 , [480p-VideoDuration_Video4] = NULL
 , [Count 480p-VideoDuration_Video4] = 0
 , [480p-VideoMOS_Video4] = NULL
 , [Count 480p-VideoMOS_Video4] = 0
 , [% 480p_Video4] = NULL
 , [Count % 480p_Video4] = 0
 , [720p-VideoDuration_Video4] = NULL
 , [Count 720p-VideoDuration_Video4] = 0
 , [720p-VideoMOS_Video4] = NULL
 , [Count 720p-VideoMOS_Video4] = 0
 , [% 720p_Video4] = NULL
 , [Count % 720p_Video4] = 0
 , [1080p-VideoDuration_Video4] = NULL
 , [Count 1080p-VideoDuration_Video4] = 0
 , [1080p-VideoMOS_Video4] = NULL
 , [Count 1080p-VideoMOS_Video4] = 0
 , [% 1080p_Video4] = NULL
 , [Count % 1080p_Video4] = 0

  where entidad='rm-std'
  and meas_round='fy1718_h1'
  and meas_date='18_03'
  --commit

 -- rollback